---
---

$header-bg-color: #3AAFA9;
$header-bg-color-secondary: #2B7A78;

$body-link-color: #215E5C;
$blockquote-text-color: #2E8481;

$section-headings-color: #28716F;

$code-text-color: #494D4E;

@import "{{ site.theme }}";
